dev.callitcureit.com {
    encode gzip zstd
    handle_path /api/* {
        reverse_proxy callitcureit-dev-backend:8080
    }
    handle {
        reverse_proxy callitcureit-dev-frontend:80
    }
}

tst.callitcureit.com {
    encode gzip zstd
    handle_path /api/* {
        reverse_proxy callitcureit-tst-backend:8080
    }
    handle {
        reverse_proxy callitcureit-tst-frontend:80
    }
}

app.callitcureit.com {
    encode gzip zstd
    handle_path /api/* {
        reverse_proxy callitcureit-prd-backend:8080
    }
    handle {
        reverse_proxy callitcureit-prd-frontend:80
    }
}